# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/